In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"]=(20,10)

In [3]:
df1=pd.read_csv("data2.csv")
df1.head()

,house_type,locality,city,area,beds,bathrooms,balconies,furnishing,area_rate,rent
0,"2 BHK Flat for Rent in Oberoi Woods, Goregaon ...",Goregaon East,Mumbai,897.0,2,2,0,Semi-Furnished,134.0,120000.0
1,"1 BHK Flat for Rent in Sapphire Lakeside, Powa...",Powai,Mumbai,490.0,1,1,0,Semi-Furnished,82.0,40000.0
2,1 BHK House for Rent in Mundhwa Pune,Mundhwa,Pune,550.0,1,1,0,Unfurnished,22.0,12000.0
3,"2 BHK Flat for Rent in Hingna, Nagpur",Hingna,Nagpur,1000.0,2,2,0,Unfurnished,8.0,8000.0
4,1 BHK Flat for Rent in Unique Star Harsh Vihar...,Mira Road,Mumbai,595.0,1,1,0,Unfurnished,25.0,15000.0

In [4]:
df1.shape

(7691, 10)

In [5]:
df2 = df1.drop(['house_type', 'locality', 'balconies'], axis='columns')

In [6]:
df2.head()

     city    area  beds  bathrooms      furnishing  area_rate      rent
0  Mumbai   897.0     2          2  Semi-Furnished      134.0  120000.0
1  Mumbai   490.0     1          1  Semi-Furnished       82.0   40000.0
2    Pune   550.0     1          1     Unfurnished       22.0   12000.0
3  Nagpur  1000.0     2          2     Unfurnished        8.0    8000.0
4  Mumbai   595.0     1          1     Unfurnished       25.0   15000.0

In [7]:
df2.isnull().sum()

city          0
area          0
beds          0
bathrooms     0
furnishing    0
area_rate     0
rent          0
dtype: int64

In [8]:
df2['city'].unique()

array(['Mumbai', 'Pune', 'Nagpur', 'Bangalore', 'New Delhi'], dtype=object)

In [9]:
df2['furnishing'].unique()

array(['Semi-Furnished', 'Unfurnished', 'Furnished'], dtype=object)

In [10]:
df2['furnishing'] = df2['furnishing'].map({
    'Unfurnished': 0,
    'Semi-Furnished': 1,
    'Furnished': 2
})

In [11]:
df2.head()

     city    area  beds  bathrooms  furnishing  area_rate      rent
0  Mumbai   897.0     2          2           1      134.0  120000.0
1  Mumbai   490.0     1          1           1       82.0   40000.0
2    Pune   550.0     1          1           0       22.0   12000.0
3  Nagpur  1000.0     2          2           0        8.0    8000.0
4  Mumbai   595.0     1          1           0       25.0   15000.0

In [14]:
df2[df2.bathrooms>4]

           city    area  beds  bathrooms  furnishing  area_rate       rent
15       Mumbai  2600.0     4          5           1       92.0   240000.0
23         Pune  2500.0     4          6           1       37.0    92000.0
47         Pune  3186.0     5          5           1       44.0   140000.0
52    Bangalore  3000.0     4          5           2       67.0   200000.0
62    Bangalore  3560.0     4          5           2       37.0   130000.0
...         ...     ...   ...        ...         ...        ...        ...
7399     Nagpur  3000.0     6          6           2       13.0    40000.0
7421     Mumbai  1500.0     4          5           1      233.0   350000.0
7464     Mumbai  3200.0     4          5           1      211.0   680000.0
7575     Mumbai  5600.0     5          5           2      268.0  1500000.0
7596  New Delhi  2600.0     4          5           2      100.0   260000.0

[232 rows x 7 columns]

In [16]:
df2[df2.bathrooms>df2.beds+2]

           city    area  beds  bathrooms  furnishing  area_rate      rent
525      Mumbai  1680.0     3          6           1      101.0  170000.0
2809     Mumbai  3858.0     5          8           1      194.0  750000.0
2875  Bangalore  6250.0     4          7           2       51.0  320000.0
4914  Bangalore  5100.0     4          7           1       74.0  380000.0
5111  New Delhi   120.0     1          4           0       24.0    2900.0
6659     Nagpur  6500.0     4          7           1       46.0  300000.0

In [17]:
df3=df2[df2.bathrooms<df2.beds+2]
df3.head()

     city    area  beds  bathrooms  furnishing  area_rate      rent
0  Mumbai   897.0     2          2           1      134.0  120000.0
1  Mumbai   490.0     1          1           1       82.0   40000.0
2    Pune   550.0     1          1           0       22.0   12000.0
3  Nagpur  1000.0     2          2           0        8.0    8000.0
4  Mumbai   595.0     1          1           0       25.0   15000.0

In [18]:
df3[df3.bathrooms>df3.beds+2]

Empty DataFrame
Columns: [city, area, beds, bathrooms, furnishing, area_rate, rent]
Index: []

In [19]:
df3.shape

(7656, 7)

In [20]:
dummies=pd.get_dummies(df3.city).astype(int) #just becz we cant work with the location text so we have to do this just to remive the text we use hot encoding which create a number for the loaction
dummies.head(3)

   Bangalore  Mumbai  Nagpur  New Delhi  Pune
0          0       1       0          0     0
1          0       1       0          0     0
2          0       0       0          0     1

In [21]:
df4 = pd.concat([df3, dummies], axis=1)
df4.head()

,city,area,beds,bathrooms,furnishing,area_rate,rent,Bangalore,Mumbai,Nagpur,New Delhi,Pune
0,Mumbai,897.0,2,2,1,134.0,120000.0,0,1,0,0,0
1,Mumbai,490.0,1,1,1,82.0,40000.0,0,1,0,0,0
2,Pune,550.0,1,1,0,22.0,12000.0,0,0,0,0,1
3,Nagpur,1000.0,2,2,0,8.0,8000.0,0,0,1,0,0
4,Mumbai,595.0,1,1,0,25.0,15000.0,0,1,0,0,0

In [22]:
df5=df4.drop(['city'],axis=1)

In [23]:
df5.head()

,area,beds,bathrooms,furnishing,area_rate,rent,Bangalore,Mumbai,Nagpur,New Delhi,Pune
0,897.0,2,2,1,134.0,120000.0,0,1,0,0,0
1,490.0,1,1,1,82.0,40000.0,0,1,0,0,0
2,550.0,1,1,0,22.0,12000.0,0,0,0,0,1
3,1000.0,2,2,0,8.0,8000.0,0,0,1,0,0
4,595.0,1,1,0,25.0,15000.0,0,1,0,0,0

In [35]:
X = df5.drop(['rent','area_rate'], axis='columns')
X.head()

,area,beds,bathrooms,furnishing,Bangalore,Mumbai,Nagpur,New Delhi,Pune
0,897.0,2,2,1,0,1,0,0,0
1,490.0,1,1,1,0,1,0,0,0
2,550.0,1,1,0,0,0,0,0,1
3,1000.0,2,2,0,0,0,1,0,0
4,595.0,1,1,0,0,1,0,0,0

In [36]:
y=df5.rent
y.head()

0    120000.0
1     40000.0
2     12000.0
3      8000.0
4     15000.0
Name: rent, dtype: float64

In [37]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=10)

In [38]:
from sklearn.linear_model import LinearRegression
lr_clf=LinearRegression()
lr_clf.fit(X_train,y_train)

LinearRegression()

In [39]:
lr_clf.score(X_test,y_test)

0.38432952887492033

In [40]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression

cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

scores = cross_val_score(LinearRegression(), X, y, cv=cv)

scores

array([0.44875137, 0.45031461, 0.34485334, 0.3492454 , 0.44094504])

In [41]:
from sklearn.model_selection import GridSearchCV, ShuffleSplit
from sklearn.linear_model import LinearRegression, Lasso
from sklearn.tree import DecisionTreeRegressor
import pandas as pd

def find_best_model_using_gridsearchcv(X, y):
    algos = {
        'linear_regression': {
            'model': LinearRegression(),
            'params': {
                'fit_intercept': [True, False]
            }
        },
        'lasso': {
            'model': Lasso(),
            'params': {
                'alpha': [1, 2],
                'selection': ['random', 'cyclic']
            }
        },
        'decision_tree': {
            'model': DecisionTreeRegressor(),
            'params': {
                'criterion': ['squared_error', 'friedman_mse'],
                'splitter': ['best', 'random']
            }
        }
    }

    scores = []
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

    for algo_name, config in algos.items():
        gs = GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
        gs.fit(X, y)

        scores.append({
            'model': algo_name,
            'best_score': gs.best_score_,
            'best_params': gs.best_params_
        })


    return pd.DataFrame(scores, columns=['model', 'best_score', 'best_params'])

find_best_model_using_gridsearchcv(x, y)

/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/sklearn/linear_model/_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.373e+13, tolerance: 6.004e+09
  model = cd_fast.enet_coordinate_descent(
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/sklearn/linear_model/_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.312e+13, tolerance: 5.627e+09
  model = cd_fast.enet_coordinate_descent(
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/sklearn/linear_model/_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.428e+13, tolerance: 5.602e+09
  model = cd_fast.enet_coordinate_descent(
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/sklearn/linear_model/_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.514e+13, tolerance: 6.082e+09
  model = cd_fast.enet_coordinate_descent(
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/sklearn/linear_model/_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 7.932e+11, tolerance: 5.602e+09
  model = cd_fast.enet_coordinate_descent(
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/sklearn/linear_model/_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.376e+13, tolerance: 6.004e+09
  model = cd_fast.enet_coordinate_descent(
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/sklearn/linear_model/_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.309e+13, tolerance: 5.627e+09
  model = cd_fast.enet_coordinate_descent(
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/sklearn/linear_model/_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.235e+13, tolerance: 5.602e+09
  model = cd_fast.enet_coordinate_descent(
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/sklearn/linear_model/_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.407e+13, tolerance: 6.082e+09
  model = cd_fast.enet_coordinate_descent(
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/sklearn/linear_model/_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.637e+13, tolerance: 6.983e+09
  model = cd_fast.enet_coordinate_descent(

,model,best_score,best_params
0,linear_regression,0.449924,{'fit_intercept': True}
1,lasso,0.449922,"{'alpha': 2, 'selection': 'random'}"
2,decision_tree,0.845850,"{'criterion': 'squared_error', 'splitter': 'be..."

In [46]:
from sklearn.ensemble import RandomForestRegressor

rf_model = RandomForestRegressor()
rf_model.fit(X, y)
rf_model.score(X_test,y_test)

0.9125943293583261

In [47]:
import numpy as np

def predict_rent(city, area, beds, bathrooms, furnishing):
    
    # create empty array
    x_input = np.zeros(len(X.columns))
    
    # numeric features
    x_input[0] = area
    x_input[1] = beds
    x_input[2] = bathrooms
    x_input[3] = furnishing
    
    # city one-hot encoding
    if city in X.columns:
        city_index = X.columns.get_loc(city)
        x_input[city_index] = 1
        
    # prediction
    return rf_model.predict([x_input])[0]

In [48]:
predict_rent("Mumbai", 1000, 2, 2, 1)

/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/sklearn/utils/validation.py:2749: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

np.float64(76604.8394938395)

In [49]:
import pickle

with open("rent_random_forest_model.pickle", "wb") as f:
    pickle.dump(rf_model, f)

In [50]:
import json

columns = {
    "data_columns": [col for col in X.columns]
}

with open("rent_columns.json", "w") as f:
    f.write(json.dumps(columns))